# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/README.en.md
/demo007/out
/demo007/.idea
/demo008/demo008.iml
/demo008/.idea
/demo008/target
/demo009/demo009.iml
/demo009/.idea
/demo009/target
/demo010/parent.iml
/demo010/.idea
/demo010/core/core.iml
/demo010/core/target
/demo010/mgrsite/mgrsite.iml
/demo010/mgrsite/target
/demo010/website/website.iml
/demo010/website/target
/.idea
target
