<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awaion.demo010.business.mapper.PlatFormBankInfoMapper">
    <resultMap id="BaseResultMap" type="com.awaion.demo010.business.domain.PlatFormBankInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="bankName" jdbcType="VARCHAR" property="bankName"/>
        <result column="accountName" jdbcType="VARCHAR" property="accountName"/>
        <result column="accountNumber" jdbcType="VARCHAR" property="accountNumber"/>
        <result column="forkName" jdbcType="VARCHAR" property="forkName"/>
    </resultMap>


    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into platformbankinfo (bankName, accountName, accountNumber,
          forkName)
        values (#{bankName,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR},
          #{forkName,jdbcType=VARCHAR})
    </insert>


    <update id="updateByPrimaryKey">
        update platformbankinfo
        set bankName = #{bankName,jdbcType=VARCHAR},
          accountName = #{accountName,jdbcType=VARCHAR},
          accountNumber = #{accountNumber,jdbcType=VARCHAR},
          forkName = #{forkName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select id, bankName, accountName, accountNumber, forkName
        from platformbankinfo
        where id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        select id, bankName, accountName, accountNumber, forkName
        from platformbankinfo
    </select>


    <select id="querycount" resultType="java.lang.Integer">
        SELECT  count(id) FROM platformbankinfo
    </select>


    <select id="querydata" resultMap="BaseResultMap">
        SELECT  id, bankName, accountName, accountNumber, forkName
        from platformbankinfo
        limit #{start},#{pageSize}
    </select>

</mapper>