<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="departmentService" class="com.awaion.demo009.service.impl.DepartmentServiceImpl">
        <property name="departmentMapper" ref="departmentMapper"/>
    </bean>

    <bean id="employeeService" class="com.awaion.demo009.service.impl.EmployeeServiceImpl">
        <property name="employeeMapper" ref="employeeMapper"/>
        <property name="permissionService" ref="permissionService"/>
    </bean>

    <bean id="permissionService" class="com.awaion.demo009.service.impl.PermissionServiceImpl">
        <property name="permissionMapper" ref="permissionMapper"/>
    </bean>
    <bean id="roleService" class="com.awaion.demo009.service.impl.RoleServiceImpl">
        <property name="roleMapper" ref="roleMapper"/>
    </bean>

</beans>