<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awaion.demo010.base.mapper.UserinfoMapper">
    <resultMap id="BaseResultMap" type="com.awaion.demo010.base.domain.UserInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="bitState" jdbcType="BIGINT" property="bitState"/>
        <result column="realName" jdbcType="VARCHAR" property="realName"/>
        <result column="idNumber" jdbcType="VARCHAR" property="idNumber"/>
        <result column="phoneNumber" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>

        <result column="realAuthId" jdbcType="VARCHAR" property="realAuthId"/>


        <association property="incomeGrade" column="incomeGrade_id"
                     javaType="com.awaion.demo010.base.domain.SystemDictionaryItem"
                     select="com.awaion.demo010.base.mapper.SystemdictionaryItemMapper.selectByPrimaryKey"></association>
        <association property="marriage" column="marriage_id"
                     javaType="com.awaion.demo010.base.domain.SystemDictionaryItem"
                     select="com.awaion.demo010.base.mapper.SystemdictionaryItemMapper.selectByPrimaryKey"></association>
        <association property="kidCount" column="kidCount_id"
                     javaType="com.awaion.demo010.base.domain.SystemDictionaryItem"
                     select="com.awaion.demo010.base.mapper.SystemdictionaryItemMapper.selectByPrimaryKey"></association>
        <association property="educationBackground" column="educationBackground_id"
                     javaType="com.awaion.demo010.base.domain.SystemDictionaryItem"
                     select="com.awaion.demo010.base.mapper.SystemdictionaryItemMapper.selectByPrimaryKey"></association>
        <association property="houseCondition" column="houseCondition_id"
                     javaType="com.awaion.demo010.base.domain.SystemDictionaryItem"
                     select="com.awaion.demo010.base.mapper.SystemdictionaryItemMapper.selectByPrimaryKey"></association>

    </resultMap>

    <insert id="insert" keyProperty="id">
        insert into userinfo (id,version, score,bitState, realName,
          idNumber, phoneNumber, email,
          incomeGrade_id, marriage_id, kidCount_id,
          educationBackground_id, houseCondition_id,realAuthId)
        values (#{id},0,#{score}, #{bitState,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR},
          #{idNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
          #{incomeGrade.id,jdbcType=BIGINT}, #{marriage.id,jdbcType=BIGINT}, #{kidCount.id,jdbcType=BIGINT},
          #{educationBackground.id,jdbcType=BIGINT}, #{houseCondition.id,jdbcType=BIGINT},#{realAuthId})
    </insert>

    <update id="updateByPrimaryKey">
        update userinfo
        set
          version = version + 1,
          score = #{score},
          bitState = #{bitState,jdbcType=BIGINT},
          realName = #{realName,jdbcType=VARCHAR},
          idNumber = #{idNumber,jdbcType=VARCHAR},
          phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
          email = #{email,jdbcType=VARCHAR},
          incomeGrade_id = #{incomeGrade.id,jdbcType=BIGINT},
          marriage_id = #{marriage.id,jdbcType=BIGINT},
          kidCount_id = #{kidCount.id,jdbcType=BIGINT},
          educationBackground_id = #{educationBackground.id,jdbcType=BIGINT},
          houseCondition_id = #{houseCondition.id,jdbcType=BIGINT},
          realAuthId = #{realAuthId}
        where id = #{id,jdbcType=BIGINT} and version = #{version}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select id, version, score,bitState, realName, idNumber, phoneNumber, email, incomeGrade_id,
        marriage_id, kidCount_id, educationBackground_id, houseCondition_id,realAuthId
        from userinfo
        where id = #{id,jdbcType=BIGINT}
    </select>


</mapper>