<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1,自定义realm-->
    <bean id="userRealm" class="com.awaion.demo009.realm.UserRealm">
        <property name="employeeService" ref="employeeService"></property>
        <property name="permissionService" ref="permissionService"></property>
        <property name="roleService" ref="roleService"></property>
        <!--<property name="credentialsMatcher" ref="credentialsMatcher"></property>-->

    </bean>

    <!--2,创建securityManager-->
    <bean name="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"></property>
        <!--注入缓存管理器-->
        <property name="cacheManager" ref="cacheManager"></property>
        <!--注入会话管理器-->
        <property name="sessionManager" ref="sessionManager"></property>
    </bean>

    <!--3,配置shirofilter-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="/login.action"></property>
        <property name="successUrl" value="/main.action"></property>
        <property name="unauthorizedUrl" value="/nopermission"></property>
        <property name="filterChainDefinitions">
            <value>
                /favicon.ico=anon
                /js/**=anon
                /images/**=anon
                /style/**=anon
                /logout.action=logout
                /**=authc
            </value>
        </property>

    </bean>

    <!--********其他的管理器*******--><!--********其他的管理器*******-->
    <!--配置缓存管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <!-- 设置配置文件 -->
        <property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"></property>
    </bean>


    <!--配置会话管理器-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- session的失效时长，单位毫秒,也就是说在规定时间之后,登录信息会失效 -->
        <property name="globalSessionTimeout" value="36000000"/>
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
    </bean>

    <!--配置凭证匹配器-->
    <!--	<bean id="credentialsMatcher"-->
    <!--		  class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">-->
    <!--		<property name="hashAlgorithmName" value="md5" />-->
    <!--		<property name="hashIterations" value="2" />-->
    <!--	</bean>-->

    <!--********其他的管理器*******-->    <!--********其他的管理器*******-->


</beans>